@font-face {
    font-family: "Neue-Haas-Grotesk";
    src: url("/static/fonts/Neue-Haas-Grotesk/NeueHaasDisplayRoman.ttf");
  }

*{
  font-family: "Neue-Haas-Grotesk";

}

  body {
    font-family: "Neue-Haas-Grotesk";
    padding: 0%;
    color: black;
  }

  h1{
    font-size: 40px;
    font-family: "Neue-Haas-Grotesk";
    padding-top:50px;
    padding-right: 20px;
    padding-bottom: 50px;
    padding-left: 20px;
  }

  button {
    font-size: 16px;
    background-color: #E5CFFC;
    font-family: "Neue-Haas-Grotesk";
    border: none;
    color: black;
    padding: 10px 10px;
    text-align: center;
    display: inline-block;
    border-radius: 12px;
  }

  .container {
    display: grid;
    align-items: center; 
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px;
   }


  .container2 {
    display: flex;
    justify-content: center
  }

   .project-thumbnails {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.project-thumbnail {
    width: 300px;
    margin: 20px;
    padding: 10px;
    border-radius: 25px;
    border: 1px solid black;
    text-align: center;
}

.project-thumbnail:hover {
  background-color: pink;
}

.project-thumbnail img {
    max-width: 100%;
    border-radius: 5px;
    
}

.project-thumbnail:hover img {
  background-color: pink;
}

.project-thumbnail h2 {
    font-size: 30px;
}

.project-thumbnail a {
    text-decoration: none;
    color: #0040ff;
}