<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="initial-scale=1, width=device-width" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles.css') }}">
  <link href="/CPSC 490 Final Project/static/star.ico" rel="icon" />
  <script src="https://kit.fontawesome.com/9b9fb80ca2.js" crossorigin="anonymous"></script>

  <head>
    <style>
      body {
        background: white;

        background-repeat: no-repeat;

      }

    </style>
  </head>

  <title>{% block title %}{% endblock %}</title>
</head>

<style>

</style>


<main class="text-center">
  {% block main %}{% endblock %}
</main>


</html>